[Unit]
Description=System Monitoring
After=local-fs.target systemd-sysctl.service systemd-modules-load.service

[Service]
Type=forking
ExecStart={{ deamon_var.ExecStart }}

[Install]
WantedBy=multi-user.target
